@* Container to stage Ships for battle *@

@inject AppDbContext db

<div class="d-flex">
    <div class="border">
        <h1>Allies</h1>
        @foreach (var ship in AlliedShips)
        {
            <li>@ship.ShipName</li>
        }
    </div>
    <div class="border">
        <h1>Japan</h1>
        @foreach (var ship in JapaneseShips)
        {
            <li>@ship.ShipName</li>
        }
    </div>

</div>

@code 
{
    public List<Ship> AlliedShips { get; set; } = new();
    public List<Ship> JapaneseShips { get; set; } = new();

    protected override void OnInitialized()
    {
        AlliedShips = db.Ships.Where(x => x.NavyId == 1).ToList();
        JapaneseShips = db.Ships.Where(x => x.NavyId == 2).ToList();
    }
}
