@* Standard Dice Calculator *@

@rendermode InteractiveServer

<div class="text-center border">

    <h3>Dice Roller</h3>
    <h4>Number of Dice: @numberOfDice</h4>
    <button @onclick="RollDice">Roll Dice</button>
   
    <div class="m-auto pt-4 w-75 d-flex align-items-center justify-content-between">
        @foreach (var roll in diceRolls)
        {
            <div class="border"><b>@roll</b></div>
        }
    </div>
    
</div>

@code 
{

    private int numberOfDice = 6;
    private int diceSides = 6;
    private List<int> diceRolls = new();
    
    private void RollDice()
    {
        diceRolls.Clear();
        Random random = new Random();
        
        for (int i = 0; i < numberOfDice; i++)
        {
             diceRolls.Add(random.Next(1, diceSides + 1));
        }
    }

}
