#page {
        height: 100vh;
        background-color: cyan;
    }

    #shipBox {
        height: 75%;
    }    

    #top-box {
        width: 100%;
        height: 25%;
        background-color: gray;
    }

    #reset-button {
        background-color: orangered;
    }

    #selectButton {
        background-color: yellow;
    }

    #startButton {
        background-color: red;
        color: yellow;
    }

    #logbox {
        height: 100%;
    }

    .selectable {
        border: 0;
        cursor: pointer;
        background: transparent;
    }

    .selectable :hover {
        border: 3px solid yellow;
    }

    .selectable.selected {
        border: 4px solid yellow;
    }

    .bs-modal-bg {
        background-color: black !important;
    }