@page "/"
@using PacificBattle.CombatResolution
@using PacificBattle.Interfaces
@inject ILogger<BattleBox> logger
@inject IFleetManager fm

<div id="page">

    <div id="shipBox"class="p-1">

        @* Attacking Ships *@
        <div class="d-flex justify-content-around mt-4 pt-4 pb-4">
            @foreach (var ship in Aggressors)
            {   
                <button class="@(ship.Selected ? "selected" : "selectable")" @onclick="() => OnShipSelected(ship)">
                    <ShipTile Ship="ship"></ShipTile>
                </button>             
            }
        </div>

        @* Defending Ships *@
        <div class="d-flex justify-content-around mt-4 pt-4">
            @foreach (var ship in Defenders)
            {
                <button class="defender @(ship.Selected ? "selected" : "selectable")" @onclick="() => OnShipSelected(ship)">
                    <ShipTile Ship="ship"></ShipTile>
                </button>             
            }
        </div>
         
    </div>

    <div id="bottombox" class="d-flex">

        <div id="buttonbox" class="w-75 d-flex py-4">

            <div class="w-50 text-center p-1">
                <button class="app-button" @onclick="GetShips"><b>Get Ships</b></button>
            </div>

            <div class="d-flex w-50">
                <div class="w-50 text-center p-1">
                    <button id="selectButton" class="app-button" hidden="@_selecting" @onclick="StartSelecting"><b>Select Ships</b></button>
                </div>

                <div class="w-50 text-center p-1">
                    <button id="startButton" class="app-button" hidden="@(!_selecting)" @onclick="ResolveCombat"><b>Start Battle</b></button>
                </div>
            </div>

        </div>

        <div id="logbox" class="w-25">

            @* Combat Results *@
            <h4 class="text-center pt-1">Combat Log</h4>
            <CombatLog Messages="BattleLogs" />

        </div>

    </div>

</div>

<style>

    #page {
        height: 100vh;
        background-color: cyan;
    }

    #shipBox {
        height: 75%;
    }    

    #bottombox {
        height: 25%;
        background-color: gray;
    }

    #buttonbox {
    }

    #selectButton {
        background-color: yellow;
    }

    #startButton {
        background-color: red;
        color: yellow;
    }

    #logbox {
        height: 100%;
    }

    .selectable {
        border: 0;
        cursor: pointer;
        background: transparent;
    }

    .selectable :hover {
        border: 3px solid yellow;
    }

    .selectable.selected {
        border: 4px solid yellow;
    }

</style>

@code 
{
    public List<Ships.CombatShip> Aggressors { get; set; } = [];
    public List<Ships.CombatShip> Defenders { get; set; } = [];

    public List<string> BattleLogs { get; set; } = [];

    public int Round { get; set; }

    private SelectionCoordinator _coordinator = new();
    private bool _selecting;
    private bool _startNewPair;

    #region Init
    protected override void OnInitialized()
    {
        GetShips();
    } 

    private void Reset()
    {
        Aggressors.Clear();
        Defenders.Clear();
        BattleLogs.Clear();
        Round = 1;
        _startNewPair = true;
    }

    private void GetShips()
    {
        Reset();
        Aggressors = fm.GetRandomFleetByNavy(2, 3);
        Defenders = fm.GetRandomFleetByNavy(1, 4);
    }

    #endregion

    private void StartSelecting()
    {
        _selecting = true;
    }

    private void OnShipSelected(CombatShip ship)
    {
        // Start a new Pair
        if (_startNewPair)
        {
            // Prevent reselection
            if (!ship.Selected)
            {                
                // Prevent Defender from being first choice
                if (Defenders.Contains(ship))
                {
                    BattleLogs.Add("Choose one of your ships!");
                }
                else
                {
                    _coordinator.AddToPair(ship);
                    BattleLogs.Add(_coordinator.Message);
                    _startNewPair = !_coordinator.IsPairing;
                }
            }
            else
            {
                BattleLogs.Add("Ship already selected");                
            }
        }
        else
        {
            // Prevent Friendly Fire
            if (Aggressors.Contains(ship) 
                && !EqualityComparer<CombatShip>.Default
                .Equals(_coordinator.SelectedShip, ship))
            {
                BattleLogs.Add("Don't shoot your own ship!");                                
            }
            else
            {
                _coordinator.AddToPair(ship);
                BattleLogs.Add(_coordinator.Message);
                _startNewPair = !_coordinator.IsPairing;
            }
        }
    }

    private void ResolveCombat()
    {
        _selecting = false;
    }
} 

