@page "/"
@using PacificBattle.CombatResolution
@using PacificBattle.Interfaces
@inject ILogger<BattleBox> logger
@inject IFleetManager fm

<div id="page">

    <div id="shipBox"class="p-1">

        @* Attacking Ships *@
        <div class="d-flex justify-content-around mt-4 pt-4 pb-4">
            @foreach (var ship in Aggressors)
            {   
                <button class="@(IsSelected(ship) ? "selected" : "selectable")" @onclick="() => OnItemClicked(ship)">
                    <ShipTile Ship="ship"></ShipTile>
                </button>             
            }
        </div>

        @* Defending Ships *@
        <div class="d-flex justify-content-around mt-4 pt-4">
            @foreach (var ship in Defenders)
            {
                <button class="@(IsSelected(ship) ? "selected" : "selectable")" @onclick="() => OnItemClicked(ship)">
                    <ShipTile Ship="ship"></ShipTile>
                </button>             
            }
        </div>
         
    </div>

    <div id="bottombox" class="d-flex">

        <div id="buttonbox" class="w-75 d-flex py-4">

            <div class="w-25 text-center p-1">
                <button class="btn btn-success m-1 p-3" @onclick="GetShips"><b>Get Ships</b></button>
            </div>

        </div>

        <div id="logbox" class="w-25">

            @* Combat Results *@
            <h4 class="text-center pt-1">Combat Log</h4>
            <CombatLog Messages="BattleLogs" />

        </div>

    </div>

</div>


<style>

    #page {
        height: 100vh;
        background-color: cyan;
    }

    #shipBox {
        height: 75%;
    }

    #bottombox {
        height: 25%;
        background-color: gray;
    }

    #buttonbox {
    }

    #logbox {
        height: 100%;
    }

    .selectable {
        border: 0;
        cursor: pointer;
        background: transparent;
    }

    .selectable :hover {
        border: 3px solid yellow;
    }

    .selectable.selected {
        border: 4px solid yellow;
    }

</style>


@code 
{
    // Selection
    private SelectionCoordinator<CombatShip> Coordinator { get; set; } = new();

    // Fleets
    public List<Ships.CombatShip> Aggressors { get; set; } = [];
    public List<Ships.CombatShip> Defenders { get; set; } = [];

    // Display Properties
    public List<string> BattleLogs { get; set; } = [];

    // Selection
    private bool _selected;

    #region Init
    // Initialize
    protected override void OnInitialized()
    {
        GetShips();
        Coordinator.StartRound();
    } 

    private void Reset()
    {
        Aggressors.Clear();
        Defenders.Clear();
        BattleLogs.Clear();
    }

    private void GetShips()
    {
        Reset();
        Aggressors = fm.GetFleet(2, 3);
        Defenders = fm.GetFleet(1, 4);
    }
    #endregion

    private void OnItemClicked(CombatShip ship)
    {
        if (IsSelected(ship))
        {
            BattleLogs.Add($"{ship.ShipName} already selected");
            return;
        }
        else
        {
            Coordinator.Click(ship);
        }

        if (Coordinator.PairComplete)
        {
            var pair = Coordinator.Pairs.Last();
            BattleLogs.Add($"{pair.Key.ShipName} vs. {pair.Value.ShipName}");
        }

    }

    private bool IsSelected(CombatShip ship)
    {
        if (Coordinator.Pairs.ContainsKey(ship) || Coordinator.Pairs.ContainsValue(ship))
        {
            return true;
        }
        return false;
    }
}

