@page "/Error"
@using System.Diagnostics

<PageTitle>Dufuq?</PageTitle>

<h1 class="text-danger">Ooops....</h1>
<h2 class="text-danger">You probably screwed something up.  Just like you.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
        <br />
        I honestly have no idea what the hell this is for, but here it is.
    </p>
}


@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
