@page "/"
@inject AppDbContext db

<PageTitle>Home</PageTitle>

<h1 class="text-center strong">WAR IN THE PACIFIC</h1>
<h2 class="text-center text-danger">Let the Battle Begin!</h2>

@code
{   
    
}