@page "/"
@inject AppDbContext db

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@foreach (var side in Sides)
{
    <li>@side.SideName</li>
}

<h1 class="text-center text-danger">Hello, world!</h1>

@code
{
    private List<Side> Sides = new();

    protected override void OnInitialized()
    {
        Sides = db.Sides.ToList();
    }
}