@page "/"
@inject AppDbContext db

<PageTitle>Home</PageTitle>

<div class="m-3 p-3 border">

    <div class="w-50 m-auto p-3 border">
        <h1 class="text-center strong">WAR IN THE PACIFIC</h1>
        <h2 class="text-center text-danger">Let the Battle Begin!</h2>
    </div>
    
    <div class="m-3 p-2">
        <DiceRoller />
    </div>

</div>
@code
{   
    
}