@page "/"
@inject NavigationManager nav

<PageTitle>Pacific Battle</PageTitle>


<div class="m-4 p-4 border">

    <div class="w-50 m-auto p-4 border">
        <h1 class="text-center">WAR IN THE PACIFIC</h1>
        <h3 class="text-center text-danger">Let the Battle Begin!</h3>
    </div>

    <div class="text-center m-4 p-4">
        <button class="btn btn-warning m-4 p-4" @onclick="LoadBattlebox">Wage War</button>
    </div>

</div>

@code
{
    public void LoadBattlebox()
    {
        nav.NavigateTo("/battlebox");
    }
}